name: "Build and Release"
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - dev
jobs:
  build:
    name: Build and Release
    runs-on: macos-latest
    steps:
      - name: Get version.txt
        uses: actions/download-artifact@v1
        with:
          name: gitversion
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: keystore
          encodedString: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.3.0'
      - name: Create key.properties
        run: |
          echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > android/key.properties
          echo "storePassword=${{ secrets.STORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
      - run: flutter pub get
      - name: Start Android Release Build
        run: flutter build appbundle
      - name: Upload Android Release
        uses: actions/upload-artifact@v2
        with:
          name: android-release
          path: build/app/outputs/bundle/release/app-release.aab
      - name: push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/debug/*"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}


