  name: "Build and Release"
  on:
    pull_request:
      branches:
        - main
    push:
      branches:
        - main
        - dev
  jobs:
    build:
      name: Build and Release
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v3
        - name: Set up JDK 17
          uses: actions/setup-java@v3
          with:
            java-version: '17'
            distribution: 'adopt'
        # 2
        - name: Get version.txt
          uses: actions/download-artifact@v2
          with:
            name: gitversion
        # 3
        - name: Create new file without newline char from version.txt
          run: tr -d '\n' < version.txt > version1.txt
        # 4
        - name: Read version
          id: version
          uses: juliangruber/read-file-action@v1
          with:
            path: version1.txt
        # 5
        - name: Update version in YAML
          run: sed -i 's/99.99.99+99/${{ steps.version.outputs.content }}+${{ github.run_number }}/g' pubspec.yaml
            # 6

            - name: Download Android keystore
                id: android_keystore
                uses: timheuer/base64-to-file@v1.0.3
                with:
                  fileName: upload-keystore.jks
                  encodedString: ${{ secrets.KEYSTORE_BASE64 }}
              # 7
              - name: Create key.properties
                run: |
                  echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > android/key.properties
                  echo "storePassword=${{ secrets.STORE_PASSWORD }}" >> android/key.properties
                  echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
                  echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties

        - uses: subosito/flutter-action@v1
          with:
            flutter-version: '3.3.0'
        - run: flutter pub get
        - run: flutter test
        - run: flutter build apk --debug --split-per-abi
#        - run: |
#            flutter build ios --no-codesign
#            cd build/ios/iphoneos
#            mkdir Payload
#            cd Payload
#            ln -s ../Runner.app
#            cd ..
#            zip -r app.ipa Payload
#        - name: push to Releases
#          uses: ncipollo/release-action@v1
#          with:
#            artifacts: "build/app/outputs/apk/debug/*"
#            tag: v1.0.${{ github.run_number }}
#            token: ${{ secrets.TOKEN }}

  - name: Start Android Release Build
      run: flutter build appbundle
      # 8
      - name: Upload Android Release
        uses: actions/upload-artifact@v2
        with:
          name: android-release
          path: build/app/outputs/bundle/release/app-release.aab
